body {
  background-color: #333333;
  color: white;
  font-family: verdana, sans-serif;
}
h1, h4 {
  text-align: left;
  color: white;
  font-family: Georgia, Serif;
} 
h2 {
  background-color: #4F7942;
  color: white;
  font-family: Georgia, Serif;
}
div {
  text-align: left;
  line-height: 125%;
}
h4 {
  border-left: 7.5px solid #4F7942;
  background-color: #292929;
  padding: 10px 20px;
}
ul, p {
  background-color: #292929;
  padding: 10px 20px;
}
hr {
  border: 1px solid #4F7942; NOSHADE;
}
a {
  color: white;
  font-family: verdana, sans-serif;
}
img {
	width:50%;
	height:50%;
	padding:20px;
}